.quantity {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .amount {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .amount .decrease {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #004cff;
    color: #004cff;
    cursor: pointer;
  }
  .amount .num {
    width: 70px;
    height: 50px;
    background-color: #e5ebfc;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 29px;
  }
  .amount .increase {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #004cff;
    color: #004cff;
    cursor: pointer;
  }