.main {
  padding: 35px;
}
.main .top {
  display: flex;
}
.top {
  display: flex;
  justify-content: space-around;
}

.top input {
  background-color: #e5ebfc;
  width: 248px;
  height: 36px;
  gap: 0px;
  border-radius: 18px;
  border: none;
  
}

.top input::placeholder {
  font-weight: 500;
  font-size: 18px;
  color: #0042E0;
  padding-left: 20px;
}
