.cart {
  padding: 30px;
  padding-top: 60px;
}

.shipping {
  width: 335px;
  height: 70px;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}
.location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.editAddress {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: solid;
  border-color: none;
  background-color: #004bfe;
  color: #f9f9f9;
  border-radius: 1000px;
  font-size: 20px;
}
.cartProduct {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 105px;
  font-size: 12px;
}

.cartProduct .image {
  width: 110px;
  height: 101px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px 0px #0000001A;

}
.cartProduct .image img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 9px;
}

.cartProduct .info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  
}

.cartProduct .price{
  display: flex;
  align-items: center;
  gap: 80px;
  justify-content: space-around;
}
