.profile{
    padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}
.header .name{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header .name .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  box-shadow: 0px 3px 6px 0px #00000029;
}

.avatar img{
    width:40px;
    height: 40px;
    border-radius: 50px;
}

.settings {
    display: flex;
    align-items: center;
   gap: 20px;
}
.settings .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35px;
    height: 35px;
    background-color: #E5EBFC;
    border-radius: 50px;
    font-size: 22px;
}

.rewards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40PX;
}

.rewards button{
    width: 160px;
    height: 30px;
    border-radius: 18px;
    background-color: #E5EBFC;
    border: none;
    cursor: pointer;
}