.profile {
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
.header .name {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .name .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  box-shadow: 0px 3px 6px 0px #00000029;
}

.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.settings {
  display: flex;
  align-items: center;
  gap: 20px;
}
.settings .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 35px;
  height: 35px;
  background-color: #e5ebfc;
  border-radius: 50px;
  font-size: 22px;
}

.rewards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.rewards button {
  width: 170px;
  height: 35px;
  border-radius: 18px;
  background-color: #e5ebfc;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
}

.vouchers {
  margin-top: 30px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  gap: 15px;
  align-items: center;
}

.vouchers img {
  width: 105%;
}
