.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 165px;
}
.card .image {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 175px;
  height: 181px;
  border-radius: 9px;
  box-shadow: 0px 10px 10px 0px #0000001a;
  cursor: pointer;
}
.card .image img {
  width: 160px;
  height: 171px;
  border-radius: 9px;
}

span {
  font-size: 17px;
  font-weight: 700;
  text-align: left;
}
.product-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  transition: transform 0.3s ease-in-out;
}

.product {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 30px;
  box-shadow: 0px -1px 1px 0px #0000001a;
  transition: transform 0.3s ease-in-out;
}

.product-overlay .product {
  transform: translateY(0);
}
