.prod {
  background-color: white;
  width: 100%;
  height: 100%;
  box-shadow: 0px -1px 1px 0px #0000001a;
  transform: translateY(100%);
  color: black;

  transition: transform 0.3s ease-in-out;
}
.prod p {
  padding-top: 10px;
  padding-bottom: 10px;
}
.product-overlay .prod {
  transform: translateY(0);
}

.prod .imageCover {
  display: flex;
  align-items: center;
}
.prod .imageCover img {
  width: 100%;
  outline-offset: 20px;
}

.prod .options {
  padding: 20px;
  border-radius: 10px 10px 10px 10px;
}

.prod .colors {
  margin-top: 10px;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.prod .colors img {
  border-radius: 8px;
  width: 90px;
  height: 90px;
}
.prod .options .size {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.size .sizes {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  width: 50px;
  height: 25px;
  border-radius: 4px;
}

.quantity {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.amount {
  display: flex;
  align-items: center;
  gap: 10px;
}
.amount .decrease {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #004cff;
  color: #004cff;
  cursor: pointer;
}

.amount .num {
  width: 70px;
  height: 50px;
  background-color: #e5ebfc;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 29px;
}

.amount .increase {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #004cff;
  color: #004cff;
  cursor: pointer;
}

.addTo {
  background-color: white;
  width: 100%;
  height: 84px;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.addTo .favorites {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 11px;
  background-color: #f9f9f9;
  width: 50px;
  height: 50px;
  font-size: 30px;
}
.addTo .addcart{
  background-color: black;
  width: 128px;
  height: 40px;
  border-radius: 11px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addTo .buy{
  background-color: #004CFF;
  width: 128px;
  height: 40px;
  border-radius: 11px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}