.payment {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 25px;
}

.vouchers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.ems {
  display: flex;
  align-items: center;
  gap: 10px;
}
.vouchers .quan {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #e5ebfc;
}

.vouchers button {
  width: 120px;
  height: 30px;
  background: none;
  border-radius: 11px;
  border-width: 2px;
  border-color: #004bfe;
  color: #004bfe;
}
.stuff {
  padding-top: 30px;
  display: flex;
  align-items: center;
}
.stuff .stuffimg {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  box-shadow: 0px 5px 10px 0px #00000029;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stuffimg {
  position: relative;
}
.stuff .stuffimg img {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.stuff .num {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5ebfc;
  width: 22px;
  height: 22px;
}

.stuff h3 {
  margin-left: auto;
}
.shippingOptions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 30px;
}

.shippingOptions .standard {
  gap: 10px;
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  width: 100%;
  height: 50px;
  border-radius: 10px;
}
.shippingOptions .standard h4 {
  font-size: 20px;
  margin-left: auto;
  margin-right: 25px;
}
.shippingOptions .express {
  gap: 10px;
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  width: 100%;
  height: 50px;
  border-radius: 10px;
}

.shippingOptions .express h4 {
  font-size: 20px;
  margin-left: auto;
  margin-right: 25px;
}
.icon {
  font-size: 2em;
  color: #0042E0;
  border-radius: 50%;
  box-shadow: 0px 5px 10px 0px #00000029;
  margin-left: 10px;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f8ff;
  width: 72px;
  height: 30px;
}
